* {
    box-sizing: border-box;
}

body {
    margin: 1em;
    font: 2em/1 helvetica;
    background-image: url(images/action-architecture-asphalt-1769413.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    height: 100%;
    width: 100%;


}

/* HEADER */

h1 {
    margin-top: 17rem;
    color: white;
}

nav ul li {
    list-style-type: none;
    display: inline;
    font-size: 16px;
    color: white;
}

#laad {
    display: flex;
    justify-content: center;
    margin: inherit;
    width: 10rem;
    padding: 0.2rem;
}

span {
    color: green;
    margin: 0;
    padding: 1em;
    width: calc(6 * 450px);
    list-style-position: inside;
    background: DARKSEAGREEN;
    transition: all 1s ease;
    display: none;
}

/* MAIN */

main {
    z-index: 1;
}

h2 {
    font-family: 'Arial';
    font-size: 1.3em;
    text-align: center;
    margin: 0;
}



main section {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

article {
    display: grid;
    border: 2px solid orange;
    margin-top: 3em;
    padding: 1em;
    width: 40rem;
    background-color: white;
}

article p {
    font-size: .6em;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

img {
    height: 27rem;
    margin-bottom: 2rem;
    margin: auto;
    padding-bottom: 2rem;
}

#meer {
    width: 15rem;
    text-align: center;
    font-size: .6em;
    margin-top: 1rem;
    color: orange;
    background-color: white;
    border-color: white;
    margin-bottom: 1rem;
}

/* REVIEWS */

button {
    width: 20rem;
    padding: .5rem;
    font-size: 2rem;
    display: inline-block;
    border: 2px solid orange;
    border-radius: 20px;
    color: white;
    background-color: orange;
    margin: auto;
}

.show {
    display: inline;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.hide {
    display: none;
}

/* ************* */

section ul {
    display: none;
    padding-top: .8rem;
    background-color: none;
    font-size: .5em;
    list-style-type: decimal;
}
